body, h1, h2, h3, h4, h5, p {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  line-height: 1.3em;
}

#topnav {
  padding-top: 1%;
  background-color: #EBEBEB;
}

#logo {
  float: left;
}

#logo-1 p {
  color: #2d317d;
  margin: 0;
  font-size: 22px;
}

#logo-2 p {
  color: #4f4f4f;
  font-size: 18px;
}

.nav-links {
  
}

.nav-links ul {
  color: #4f4f4f;
  float: right;
  list-style-type: none;
  margin: 0;
  font-weight: 200;
}

.nav-links li {
  padding: 3%;
  font-size: 18px;
  display: inline-block;
  line-height: 2em;
}

h1 {
  font-size: 34px;
  margin-top: 12%;
  color: #3f3f3f;
}

h2 {
  font-size: 30px;
  color: #3f3f3f;
}

h3 {
  font-size: 35px;
  color: #2d317d;
  font-weight: 400;
}

h4 {
  color: #3f3f3f;
  font-size: 26px;
  display: inline;
  padding-right: 2%;
}

#block-1 {
  background-color: #2d317d;
  width: 15px;
  height: 130px;
  display: inline-block;
  float: left;
  margin-top: .5%;
}

#process {
  margin-top: 15%;
  display: inline-block;
  float: left;
}

#process p {
  margin-left: 4%;
  font-size: 18px;
  color: #3f3f3f;
}

ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.process-2 {
  margin-left: 3%;
  margin-top: 2%;
}

.box {
  background-color: #2d317d;
  width: 17%;
  display: inline-block;
  padding: .5%;
  padding-left: 2%;
  margin-right: 2%;
}

.box p {
  color: white;
  font-size: 18px;
  line-height: 1em;
  padding-top: 5%;
  font-family: 'Open Sans', sans-serif;ß
  font-weight: 300;
}

.list p {
  font-size: 16px;
  line-height: .1em;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

#all-skills p {
  margin: 3%;
}

















